@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--brooklyn-tint-color: #BCC6F9;
	--background-color: white;
	--foreground-color: #121212;
	--header-color: #F8F8F8;
	--near-background: #EEEEEE;
	--text-color: #272727;
}

html.dark {
	--background-color: #121212;
	--foreground-color: white;
	--header-color: #1A1A1A;
	--near-background: #242424;
	--text-color: #EEEEEE;
}

html, body {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

h1 {
	color: var(--foreground-color);
}

code {
	font-family: Poppins;
}

pre {
	border-radius: 8px;
	font-size: 1rem;
	padding: 15px;
}
