---
import { Code } from "astro:components"
import Header from "../components/Header.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const brooklynCode = `VStack {
	Text("Hello from Brooklyn")
}
.alignItems(.center)
.justifyContent(.center)
.minHeight(.vh(100))
`
---

<BaseLayout>
	<div class="container">
		<Header />
		<main class="main-content">
			<div class="get-started-container">
				<h1>Create websites in Swift</h1>
				<h3>Welcome to the Brooklyn documentation, a Swift static site generator</h3>
				<button class="get-started-button" onclick="window.location.href = '/docs/getting-started'">
					Get started
				</button>
			</div>
			<div style="padding-top: 20px; text-align: left;">
				<Code code={brooklynCode} lang={"swift"} theme={"nord"}></Code>
			</div>
		</main>
		<footer class="footer">
			<span>
				This website is <a class="open-source-text" href="https://github.com/Luki120/BrooklynDocs/">open source</a>
			</span>
			<span class="copyright-label" style="font-size: 0.8rem;"></span>
		</footer>
	</div>
</BaseLayout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		min-height: -webkit-fill-available;
	}

	.main-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		text-align: center;
	}

	.get-started-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: 30px;
	}

	.get-started-container h1 {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 0;
		padding: 0 15px;
	}

	.get-started-container h3 {
		font-size: 1rem;
		font-weight: 400;
		padding: 0 15px;
	}

	@media screen and (min-width: 62.5em) {
		.get-started-container h1 {
			font-size: 4rem;
		}
		.get-started-container h3 {
			font-size: 1.2rem;
		}
	}

	.get-started-button {
		background-color: var(--brooklyn-tint-color);
		border: none;
		border-radius: 4px;
		color: #242424;
		font-size: 1rem;
		height: 40px;
		width: 120px;
		margin-top: 15px;
	}

	.footer {
		align-items: center;
		color: gray;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		position: fixed;
		bottom: 0;
		height: 100px;
		width: 100%;
	}

	.open-source-text {
		color: var(--brooklyn-tint-color);
		text-decoration: none;
	}
</style>

<script>
	const currentYear = new Date().getFullYear()
	const copyrightLabel = document.querySelector('.copyright-label')
	copyrightLabel.textContent = `© ${currentYear} Luki120`
</script>
