---
import Logo from "../components/Logo.astro"
import HamburgerMenu from "./Sidebar/HamburgerMenu.astro"
import ThemeButton from "./ThemeButton.astro"
---

<header class="header">
	<nav class="nav-bar">
		<div class="left-container">
			<Logo />
			<button onclick="window.location.href='/'" style="background-color: transparent; border: none;">
				<h1>Brooklyn Docs</h1>
			</button>
		</div>
		<div class="right-container">
			<ThemeButton />
			<HamburgerMenu />
		</div>
	</nav>
</header>

<style>
	.header {
		background-color: var(--header-color);
		color: var(--text-color);
		display: flex;
		font-weight: bolder;
		height: 60px;
		position: fixed;
		top: 0;
		width: 100dvw;
	}

	.header h1 {
		font-size: 1rem;
	}

	@media screen and (min-width: 48em) {
		.header h1 {
			font-size: 2rem;
			line-height: 0;
		}
		.left-container {
			gap: 20px;
		}
	}

	.nav-bar {
		box-shadow: 0 4px 12px var(--near-background);
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 20px;
	}

	.left-container {
		align-items: center;
		display: flex;
		gap: 5px;
	}

	.right-container {
		display: flex;
		justify-content: flex-end;
	}
}
</style>
