---
import SidebarItems from "./SidebarItems.astro";
---

<div class="sidebar">
	<SidebarItems />
</div>

<style>
	.sidebar {
		border-right: 2px solid var(--near-background);
		display: none;
		flex-direction: column;
		margin-top: 2rem;
		min-height: 100dvh;
		padding: 1.25rem;
		width: 15%;
	}

	@media screen and (min-width: 48em) {
		.sidebar {
			display: flex;
		}
	}
</style>
